@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.dialog {
		--checkbox-size: var(--font-ui-medium);
		background-color: var(--modal-background);
		border-radius: var(--modal-radius);
		border: var(--modal-border-width) solid var(--modal-border-color);
		padding: var(--size-4-4);
		min-height: 100px;
		width: var(--dialog-width);
		max-width: var(--dialog-max-width);
		max-height: var(--dialog-max-height);
		flex-direction: column;
		overflow: auto;
	}
}

@layer utilities {
	.input-error {
		@apply !border-[var(--color-red)];
	}

	.font-ui-smaller {
		font-size: var(--font-ui-smaller);
		line-height: var(--line-height-tight);
	}
	.bg-primary {
		background-color: var(--background-primary);
	}
	.bg-primary-alt {
		background-color: var(---background-primary-alt);
	}
	.bg-secondary {
		background-color: var(--background-secondary);
	}

	/* font color */
	.text-red {
		color: var(--color-red);
	}
	.text-orange {
		color: var(--color-orange);
	}
	.text-yellow {
		color: var(--color-yellow);
	}
	.text-green {
		color: var(--color-green);
	}
	.text-cyan {
		color: var(--color-cyan);
	}
	.text-blue {
		color: var(--color-blue);
	}
	.text-purple {
		color: var(--color-purple);
	}
	.text-pink {
		color: var(--color-pink);
	}
	.text-interactive-accent {
		color: var(--interactive-accent);
	}
}
